-# TODO::専用のCSSを作って管理したい。FLOCSSだと「p-先頭の日記」のイメージ。デザインを詰める際に検討
- image_size = size == "large" ? "large" : "medium"

.ui.unstackable.items
  .item
    .content.p-article-header-date
      %span.header= l(article.date, format: :mda)
    .content.p-article-header-bean-name
      %span.header= article.bean_name
    .content.p-article-header-edit-menu
      -# TODO::非同期で更新・削除させたい。更新削除後は画面遷移せずに画面に反映させたい
      %span
        = link_to edit_article_path(article) do
          %i.edit.icon
          編集
      %span.ui.right.floated
        = link_to article, method: :delete, data: { confirm: '日記を削除しますか？' } do
          %i.trash.alternate.outline.icon
          削除

  .item
    .ui.image{class: image_size}
      - if photo = article.photos.first.presence
        = image_tag photo.variant(resize_to_limit: [100, 100])
      - else
        %img{src: asset_pack_path("media/images/no_image.png")}
    .content
      .description
        %p
          お店：
          = article.shop_name
      - if article.producing_area.present?
        .description
          %p
            産地：
            = article.producing_area
      - if article.particle_size.present?
        .description
          %p
            挽き目：
            = article.particle_size
      - if article.want_to_again?
        .description
          %p
            -# TODO::CSS化すること
            %i.check.circle.outline.icon{style: "color: #00B5AD; margin: 0px;"}
            リピート
      .extra
        -# TODO::articleにフレーバーをリレーションで持たせる。フレーバーを全て並べて評させる
        .ui.teal.label ワイニー
        .ui.teal.label フルボディ

      - if size == "large"
        - if article.memo.present?
          .description
            = text_area_tag "memo", article.memo, {rows: 7, cols: 35, disabled: :disabled}

  - if size == "medium"
    - if article.memo.present?
      .item
        .content
          .description
            = text_area_tag "memo", article.memo, {rows: 7, cols: 35, disabled: :disabled}
