.ui.unstackable.items
  .item
    .content.p-article-header-date
      %span.header= l(article.date, format: :mda)
    .content.p-article-header-bean-name
      %span.header= article.bean_name
    .content.p-article-header-edit-menu
      -# TODO::非同期で更新・削除させたい。更新削除後は画面遷移せずに画面に反映させたい
      %span
        = link_to edit_article_path(article) do
          %i.edit.icon
          編集
      %span.ui.right.floated
        = link_to article, method: :delete, data: { confirm: '日記を削除しますか？' } do
          %i.trash.alternate.outline.icon
          削除

  .item
    .ui.image.medium
      - if photo = article.photos.first.presence
        = image_tag photo.variant(resize_to_fill: [300, 200]).processed
      - else
        %img.p-article-no-image-medium{src: asset_pack_path("media/images/no_image.png")}
    .content
      .description
        %p
          お店：
          = article.shop_name
      - if article.producing_area.present?
        .description
          %p
            産地：
            = article.producing_area
      - if article.particle_size.present?
        .description
          %p
            挽き目：
            = article.particle_size
      - if article.want_to_again?
        .description
          %p
            %i.check.circle.outline.icon.p-article-repeat-icon
            リピート
      .extra
        -# TODO::articleにフレーバーをリレーションで持たせる。フレーバーを全て並べて評させる
        .ui.teal.label ワイニー
        .ui.teal.label フルボディ

  .item
    .content
      .description
        = text_area_tag "memo", article.memo, {rows: 7, cols: 35, disabled: :disabled}
