- content_for :title, "Coffee diary"

%h1 Articles#index

.ui.grid.padded
  .one.column.row
    .column
      = render partial: "article", locals: {size: "medium"}
  .two.column.row
    .column
      = render partial: "article", locals: {size: "small"}
    .column
      = render partial: "article", locals: {size: "small"}
  .two.column.row
    .column
      = render partial: "article", locals: {size: "small"}
    .column
      = render partial: "article", locals: {size: "small"}
