!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(page_title: yield(:title))
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .ui.menu.fixed
      .ui.container
        = link_to articles_path, {class: :item} do
          %i.coffee.icon
          %span.header-menu-description 日記一覧
        = link_to new_article_path, {class: :item} do
          %i.pencil.alternate.icon
          %span.header-menu-description 新しい日記
        -#.ui.simple.dropdown.item
          More
          %i.dropdown.icon
          .menu
            %a.item
              %i.edit.icon
              Edit Profile
            %a.item
              %i.settings.icon
              Account Settings
        .right.item.header-menu-search
          .ui.input
            %input{:placeholder => "Search...", :type => "text"}
    .ui.container.body-content
      - if notice.present?
        %p#notice
          %i.check.circle.icon
          = notice

      = yield

