!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(page_title: yield(:title))
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .ui.menu.fixed
      .ui.container
        = link_to articles_path, {class: :item} do
          %i.coffee.icon
          %span.header-menu-description 日記一覧
        = link_to new_article_path, {class: :item} do
          %i.pencil.alternate.icon
          %span.header-menu-description 新しい日記
        -#.ui.simple.dropdown.item
          More
          %i.dropdown.icon
          .menu
            %a.item
              %i.edit.icon
              Edit Profile
            %a.item
              %i.settings.icon
              Account Settings
        .right.item.header-menu-search.js-header-menu-search
          .ui.input
            .ui.transparent.icon.input.js-search-keyword
              %input{type: "text", placeholder: "検索"}
              %i.search.icon
            .ui.segment.search-conditions.js-search-conditions
              .content
                .ui.form
                  .field
                    %label 豆名
                    %input
                  .field
                    %label 日にち
                    %input.c-input-date{type:"date"}
                    ～
                    %input.c-input-date{type:"date"}
                  .field
                    %label お店
                    %input

                  %p
                    %a.js-search-conditions-toggle
                      詳細
                      %i.angle.down.icon
                  .search-conditions-detail.js-search-conditions-detail
                    .field
                      %label 産地
                      %input
                    .field
                      %label 挽き目
                      %input
                    .field
                      .ui.checkbox
                        %input{type:"checkbox", name: "want-to-again"}
                        %label リピート

                  .actions
                    .ui.button.primary.right.floated 検索
            .search-conditions-overlay.js-search-conditions-overlay

    .ui.container.body-content
      - if notice.present?
        %p#notice
          %i.check.circle.icon
          = notice

      = yield

    :javascript
      $(function(){
        var $headerMenuSearch = $(".js-header-menu-search");
        $headerMenuSearch.find(".js-search-keyword").on("click", function(){
          $headerMenuSearch.find(".js-search-conditions").show();
          $headerMenuSearch.find(".js-search-conditions-overlay").show();
        });
        $headerMenuSearch.find(".js-search-conditions-overlay").on("click", function(){
          $headerMenuSearch.find(".js-search-conditions").hide();
          $(this).hide();
        });

        $headerMenuSearch.find(".js-search-conditions-toggle").on("click", function() {
          $headerMenuSearch.find(".js-search-conditions-detail").toggle();
        });
      });
